<div class="content" style="margin-left: 100px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Message</h4>
            <p class="card-category">Discussion</p>
          </div>
          <div class="card-body">
            <mat-card class="example-card" (click)="showMsgList()">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">

                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </div>
      <app-messagerie [filsProperty]="color" *ngIf="showMessageList"></app-messagerie>
    </div>
    
  </div>
  </div>
