<div class="content" style="margin-left: 100px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Modifier Profile</h4>
              <p class="card-category">Completer votre profile</p>
            </div>
            <div class="card-body">
              <form>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput name="username" placeholder="username" value="{{user ? user.username : undefined}}" required="">
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input matInput ngModel name="nom" placeholder="Nom" required="">
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field class="example-full-width">
                    <mat-label>Prenom</mat-label>
                    <input matInput ngModel name="prenom" placeholder="Prenom" required="">
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field class="example-full-width">
                    <mat-label>email</mat-label>
                    <input matInput ngModel name="email" placeholder="email" required="">
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="fill" style="font-size: 12px;">
                    <mat-label>Date de naissance</mat-label>
                    <input matInput ngModel name="date_naissance_user" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field class="example-full-width" style="margin-left: 50px;">
                    <mat-label>N°Tel</mat-label>
                    <input matInput  placeholder="tel" required="">
                  </mat-form-field>

                  <div *ngIf="!isProfessionnel()">
                    <br><br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-form-field class="example-full-width">
                        <mat-label>Adresse</mat-label>
                        <input matInput ngModel name="adresse" placeholder="adresse" required="">
                      </mat-form-field>
                      &nbsp;
                      <mat-form-field class="example-full-width">
                        <mat-label>Ville</mat-label>
                        <input matInput ngModel name="ville" placeholder="ville" required="">
                      </mat-form-field>
                      &nbsp;
                      <mat-form-field class="example-full-width">
                        <mat-label>code postal</mat-label>
                        <input matInput ngModel name="code_postal" placeholder="code postal" required="">
                      </mat-form-field>
                  </div>

                  <div class="form-group" *ngIf="isProfessionnel()">
                    <br><br>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="form-group">
                      <label class="bmd-label-floating">Description.</label>
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary pull-right">Modifier Profile</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
