<!-- banner-slider -->
<div class="w3l_banner_info">
  <div class="slider">
    <div class="callbacks_container">
      <ul class="rslides" id="slider3">
        <li>
          <div class="slider-img">
            <div class="slider_banner_info">
              <div class="text">
                <h3 class="word wisteria">Publiez votre projet</h3>
                <p>Décrivez votre projet en quelques clics et sélectionnez vous-même les artisans avec qui vous souhaitez être mis en relation.</p>
              </div>

            </div>
          </div>
        </li>
        <li>
          <div class="slider-img-2">
            <div class="slider_banner_info">
              <div class="text">
                <h3 class="word wisteria">Les artisans vous répondent</h3>
                <p>Les artisans intéressés vous contactent</p>
              </div>

            </div>
          </div>
        </li>
        <li>
          <div class="slider-img-3">
            <div class="slider_banner_info">
              <div class="text">
                <h3 class="word wisteria">Choisissez les artisans</h3>
                <p>Consultez les profils des artisans et sélectionnez les artisans que vous souhaitez rencontrer.</p>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- //banner-slider -->
