imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@PublicationBundle/Resources/config/services.yml" }
    - { resource: "@ReclamationBundle/Resources/config/services.yml" }
    - { resource: "@EvaluationBundle/Resources/config/services.yml" }
    - { resource: "@MessagerieBundle/Resources/config/services.yml" }
    - { resource: "@PortfolioBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
#parameters:
#    locale: en
#
#framework:
#    #esi: ~
#    translator: { fallbacks: ['%locale%'] }
#    secret: '%secret%'
#    router:
#        resource: '%kernel.project_dir%/app/config/routing.yml'
#        strict_requirements: ~
#    form: ~
#    csrf_protection: ~
#    validation: { enable_annotations: true }
#    #serializer: { enable_annotations: true }
#    default_locale: '%locale%'
#    trusted_hosts: ~
#    session:
#        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
#        handler_id: session.handler.native_file
#        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
#    fragments: ~
#    http_method_override: true
#    assets: ~
#    php_errors:
#        log: true
#
## Twig Configuration
#twig:
#    debug: '%kernel.debug%'
#    strict_variables: '%kernel.debug%'
#
## Doctrine Configuration
#doctrine:
#    dbal:
#        driver: pdo_mysql
#        host: '%database_host%'
#        port: '%database_port%'
#        dbname: '%database_name%'
#        user: '%database_user%'
#        password: '%database_password%'
#        charset: UTF8
#        # if using pdo_sqlite as your database driver:
#        #   1. add the path in parameters.yml
#        #     e.g. database_path: '%kernel.project_dir%/var/data/data.sqlite'
#        #   2. Uncomment database_path in parameters.yml.dist
#        #   3. Uncomment next line:
#        #path: '%database_path%'
#
#    orm:
#        auto_generate_proxy_classes: '%kernel.debug%'
#        naming_strategy: doctrine.orm.naming_strategy.underscore
#        auto_mapping: true
#
## Swiftmailer Configuration
#swiftmailer:
#    transport: '%mailer_transport%'
#    host: '%mailer_host%'
#    username: '%mailer_user%'
#    password: '%mailer_password%'
#    stream_options:
#      ssl:
#        allow_self_signed: true
#        verify_peer: false
#        verify_peer_name: false
#    spool: { type: memory }
#
#sensio_framework_extra:
#   router:
#        annotations: false
#
#lexik_jwt_authentication:
#    secret_key:       '%kernel.project_dir%/config/jwt/private.pem' # required for token creation
#    public_key:       '%kernel.project_dir%/config/jwt/public.pem'  # required for token verification
#    pass_phrase:      'azerty' # required for token creation, usage of an environment variable is recommended
#    token_ttl:        3600
#
#fos_user:
#    db_driver: orm # other valid values are 'mongodb' and 'couchdb'
#    firewall_name: main
#    user_class: AppBundle\Entity\User
#    Service:
#      mailer: fos_user.mailer.twig_swift
#    from_email:
#        address: "%mailer_user%"
#        sender_name: "%mailer_user%"
#    registration:
#      confirmation:
#        enabled: true
#        from_email:
#          address: registration@example.com
#          sender_name: Nomen
#        template:   '@FOSUser/Registration/email.txt.twig'
parameters:
  locale: fr
  app.path.enseignant_images: /uploads/images/enseignant
framework:
  #esi: ~
  translator: { fallbacks: ['%locale%'] }
  secret: '%secret%'
  router:
    resource: '%kernel.project_dir%/app/config/routing.yml'
    strict_requirements: ~
  form: ~
  csrf_protection: ~
  validation: { enable_annotations: true }
  #serializer: { enable_annotations: true }
  default_locale: '%locale%'
  trusted_hosts: ~
  session:
    # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
    handler_id: session.handler.native_file
    save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
  fragments: ~
  http_method_override: true
  assets: ~
  php_errors:
    log: true
  templating:
    engines: ['twig']

# Twig Configuration
twig:
  debug: '%kernel.debug%'
  strict_variables: '%kernel.debug%'
# Doctrine Configuration
doctrine:
  dbal:
    driver: pdo_mysql
    host: '%database_host%'
    port: '%database_port%'
    dbname: '%database_name%'
    user: '%database_user%'
    password: '%database_password%'
    charset: UTF8
    # if using pdo_sqlite as your database driver:
    #   1. add the path in parameters.yml
    #     e.g. database_path: '%kernel.project_dir%/var/data/data.sqlite'
    #   2. Uncomment database_path in parameters.yml.dist
    #   3. Uncomment next line:
    #path: '%database_path%'
  orm:
    auto_generate_proxy_classes: '%kernel.debug%'
    naming_strategy: doctrine.orm.naming_strategy.underscore
    auto_mapping: true
# Swiftmailer Configuration
swiftmailer:
  transport: '%mailer_transport%'
  host: '%mailer_host%'
  username: '%mailer_user%'
  password: '%mailer_password%'
  stream_options:
    ssl:
      allow_self_signed: true
      verify_peer: false
      verify_peer_name: false
  spool: { type: memory }
sensio_framework_extra:
  router:
    annotations: false
lexik_jwt_authentication:
    secret_key:       '%kernel.project_dir%/config/jwt/private.pem' # required for token creation
    public_key:       '%kernel.project_dir%/config/jwt/public.pem'  # required for token verification
    pass_phrase:      'azerty' # required for token creation, usage of an environment variable is recommended
    token_ttl:        3600
fos_user:
  db_driver: orm # other valid values are 'mongodb' and 'couchdb'
  firewall_name: main
  user_class: AppBundle\Entity\User
  service:                               # this line
    mailer: fos_user.mailer.twig_swift
  from_email:
    address: "%mailer_user%"
    sender_name: "%mailer_user%"
  registration:
    confirmation:
      enabled: true

nelmio_cors:
  defaults:
    allow_credentials: false
    allow_origin: []
    allow_headers: []
    allow_methods: []
    expose_headers: []
    max_age: 0
    hosts: []
    origin_regex: false
  paths:
    '^/api/':
      allow_origin: ['*']
      allow_headers: ['*']
      allow_methods: ['POST', 'PUT', 'GET', 'DELETE']
      max_age: 3600
    '^/':
      origin_regex: true
      allow_origin: ['*']
      allow_headers: ['*']
      allow_methods: ['POST', 'PUT', 'GET', 'DELETE']
      max_age: 3600


