<div style="width: 1000px;">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">Username</h4>
      <p class="card-category">Discussion</p>
    </div>
    <div class="card-body">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">

          </div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed {{filsProperty}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>


  <!-- <mat-chip-list *ngFor="let p of list; index as i">
    <mat-chip color="primary" selected *ngIf="i % 2 == 0" style="margin-left: 10%;">{{p}}</mat-chip>
    <mat-chip color="accent" selected *ngIf="i % 2 != 0" style="margin-right: 10%;">{{p}}</mat-chip>
  </mat-chip-list>
  <div *ngFor="let p of list; index as i">
    <input [(ngModel)]="p" type="text">
  </div>
  
    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" [(ngModel)]="value">
    </mat-form-field>
    <button mat-button color="primary" (click)="addMessage()">Primary</button> -->