<!-- Footer-->
<section class="footer">
  <div class="container">
    <h3>FixIt</h3>
    <div class="wrapper">
      <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
        <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
        <li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>© FixIt. All Rights Reserved.</p>

    </div>
  </div>
</section>
<!-- /Footer-->
<!-- bootstrap-pop-up for login and register -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        FixIt
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section>
        <div class="modal-body">
          <div class="loginf_module">
            <div class="module form-module">
              <div class="toggle">
                <i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Register</div>
              </div>
              <div class="form">
                <h3>Login to your account</h3>
                <form (ngSubmit)="onlogin(f.value)" #f="ngForm">
                  <input type="text" name="username" ngModel placeholder="Username" required="">
                  <input type="password" name="password" ngModel placeholder="Password" required="">
                  <input type="submit" value="Login">
                </form>
                <br>
                <div *ngIf="invalidCredential" class="alert alert-danger" role="alert">
                  username ou mot de passe incorrect
                </div>
                <input id="btnSave" class="invisible" type="submit" value="yes" data-dismiss="modal">
                <div class="cta">
                  <a href="#">Forgot password?</a>
                </div>
              </div>
              <div class="form">
                <h3>Create a new account</h3>
                <form action="#" method="post">
                  <input type="text" name="Username" placeholder="Username" required="">
                  <input type="password" name="Password" placeholder="Password" required="">
                  <input type="email" name="Email" placeholder="Email address" required="">
                  <input type="text" name="Phone" placeholder="Phone Number" required="">
                  <input type="submit" value="Register">
                </form>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- //bootstrap-pop-up for login and register-->
