<!-- Footer-->
<section class="footer">
  <div class="container">
    <h3>FixIt</h3>
    <div class="wrapper">
      <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
        <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
        <li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>© FixIt. All Rights Reserved.</p>

    </div>
  </div>
</section>
<!-- /Footer-->
<!-- bootstrap-pop-up for login and register -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        FixIt
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section>
        <div class="modal-body">
          <div class="loginf_module">
            <div class="module form-module">
              <div class="toggle">
                <i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Register</div>
              </div>
              <div class="form">
                <h3>Login to your account</h3>
                <form (ngSubmit)="onlogin(f.value)" #f="ngForm">
                  <input type="text" name="username" ngModel placeholder="Username" required="">
                  <input type="password" name="password" ngModel placeholder="Password" required="">
                  <input type="submit" value="Login">
                </form>
                <br>
                <div *ngIf="invalidCredential" class="alert alert-danger" role="alert">
                  username ou mot de passe incorrect
                </div>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="margin-left: 33%;">
                  S'inscrire
                </button>
                <input id="btnSave" class="invisible" type="submit" value="yes" data-dismiss="modal">
                <div class="cta">
                  <a href="#">Forgot password?</a>
                </div>
              </div>
              <div class="form">
                <h3>Create a new account</h3>
                <form action="#" method="post">
                  <input type="text" name="Username" placeholder="Username" required="">
                  <input type="password" name="Password" placeholder="Password" required="">
                  <input type="email" name="Email" placeholder="Email address" required="">
                  <input type="text" name="Phone" placeholder="Phone Number" required="">
                  <input type="submit" value="Register">
                </form>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- //bootstrap-pop-up for login and register-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="margin-left: 45%;">S'inscrire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="registration(form.value)" #form="ngForm">
        <mat-vertical-stepper linear>
          <mat-step label="Données personnels">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput ngModel name="username" placeholder="Username" required="true">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Nom</mat-label>
              <input matInput ngModel name="nom" placeholder="Nom" required="">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Prenom</mat-label>
              <input matInput ngModel name="prenom" placeholder="Prenom" required="">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>email</mat-label>
              <input matInput ngModel name="email" placeholder="email" required="">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput ngModel name="password" placeholder="Username" required="">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" style="font-size: 12px;">
              <mat-label>Date de naissance</mat-label>
              <input matInput ngModel name="date_naissance_user" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>N°Tel</mat-label>
              <input matInput  placeholder="tel" required="">
            </mat-form-field>
          </mat-step>
          <mat-step label="Type de compte">
            <mat-form-field>
              <mat-label>Type</mat-label>
              <select matNativeControl ngModel (change)="changeType($event.target.value)" required name="type">
                <option value="professionnel">Professionnel</option>
                <option value="demandeur">Demandeur</option>
              </select>
            </mat-form-field>
          </mat-step>
          <mat-step *ngIf='!isProfessionnel' label="Adresse">
            <mat-form-field class="example-full-width">
              <mat-label>Adresse</mat-label>
              <input matInput ngModel name="adresse" placeholder="adresse" required="">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Ville</mat-label>
              <input matInput ngModel name="ville" placeholder="ville" required="">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>code postal</mat-label>
              <input matInput ngModel name="code_postal" placeholder="code postal" required="">
            </mat-form-field>
          </mat-step>
          <mat-step *ngIf='isProfessionnel' label="Description">
            <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <input matInput ngModel name="description" placeholder="description" required="">
            </mat-form-field>
          </mat-step>
          <mat-step label="Confirmation" completed="false">
            <input type="submit" value="Valider" class="btn btn-primary" style="margin-left: 38%;">
            <input type="reset"  class="invisible" id="reset">
            <button type="button" id="registersucces" class="invisible" data-toggle="modal" data-target="#subscribeSuccessfully" data-dismiss="modal" style="margin-left: 33%;">
            </button>
          </mat-step>
        </mat-vertical-stepper>
        </form>
      </div>
      <div class="modal-footer">
        <div *ngIf="emailExist" style="width: 100%" class="alert alert-danger" role="alert">
          &nbsp;&nbsp;&nbsp; Email existe dèjà
        </div><br>
        <div *ngIf="usernameExist" style="width: 100%" class="alert alert-danger" role="alert">
          &nbsp;&nbsp;&nbsp; Username existe dèjà
        </div>
        <mat-spinner *ngIf="showSpinner" style="margin-right: 40%;"></mat-spinner>
      </div>
    </div>
  </div>
</div>
<div id="subscribeSuccessfully" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Félicitation !</h4>
        <p>Votre compte à été crée avec succées</p>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModal" data-dismiss="modal"><span>S'authentifier</span> <i class="material-icons">&#xE5C8;</i></button>
      </div>
    </div>
  </div>
</div>
<style>
  .modal-dialog-ins,
  .modal-content-ins {
    /* 80% of window height */
    height: 70%;
    width: 200%;
}

  .modal-body-ins {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(1000% - 1200px);
}
  .modal-confirm {
    color: #434e65;
    width: 525px;
    margin: 30px auto;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
  }
  .modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
  }
  .modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
  }
  .modal-confirm .close:hover {
    opacity: 0.8;
  }
  .modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
    margin-left: 40%;
  }
  .modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
  }
  .modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
  }
  .modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645;
    outline: none;
  }
  .modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
  }
  .modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
  ::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }

  mat-form-field{
    margin-left: 40px ;
    width: 300px;
  }

</style>
